$primary-color:#111;
$primary-text:#fff;
$secondary-text:#999;
$destaque:#46d369;
$red:#E50914;
// tamanho da fonte
$text-large:3rem;
$text-big:2rem;
$text-regular:1.5rem;
$text-small:1.2rem;
$text-small-max:1rem;
:root{
    --primary-color:#{$primary-color};
    --primary-text:#{$primary-text};
    --secondary-text:#{$secondary-text};
    --destaque:#{$destaque};
    --red:#{$red};
    // tamanho da fonte
    --text-large:#{$text-large};
    --text-big:#{$text-big};
    --text-regular:#{$text-regular};
    --text-small:#{$text-small};
    --text-small-max:#{$text-small-max};
}